body {
  background-color: #1e1f22;
  color: #ffffff;
  margin: 0;
  font-family: 'Inter',
    sans-serif;
}

h1 {
  display: inline-block;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item {
  text-decoration: none;
  color: #dadddf;
  padding: 2%;
}

.list-item:hover {
  text-decoration: none;
  color: #666666
}

.settings-card {
  background-color: #1e1f22;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.settings-card {
  padding: 0;
}

.settings-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666666;
}

.settings-list {
  padding: 0;
  margin-top: 0;
}

nav {
  background-color: #1e1f22;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #dadddf;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
}