/* Body - Uniform Dark Theme */
body {
  background-color: #070F2B;
  color: #9290C3;
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter',
    sans-serif;
}

@font-face {
  font-family: 'josephsophia';
  src: url('/static/fonts/josephsophia.otf') format('truetype');
  font-weight: normal;
}

/* Header */
.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0;
  align-items: center;
  vertical-align: middle;
  background-color: transparent;
  border-bottom: 2px solid #9290C3;
}



/* Specific styles for the settings page */
.header-settings {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 15%;
}

.settings-title {
  padding-left: 64px;
}

.settings-right {
  margin-left: auto;
}

.bi-gear {
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
}

.settings-btn {
  margin-right: 5px;
}


/* App Name */
.appName {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 50px;
  font-size: 40px;
  text-align: center;
  margin: 0 0;
  border: none;
  color: #ffffff;
  font-family: 'josephsophia', Arial, Helvetica, sans-serif;
}

/*Search offcanvas*/
.offcanvas.offcanvas-bottom {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #070F2B;
}

.bi-x-lg {
  font-weight: bold;
}

.close-btn {
  background-color: transparent;
  border: none;
}

/* Search Bar */
.search-container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  align-items: center;
}

.search-bar {
  flex-grow: 1;
  height: 36px;
  padding: 10px 40px 10px 15px;
  border: 1px solid #1e1f22;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  background-color: #1B1A55;
  color: #9290C3;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar:focus {
  border-color: #4a4a4d;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  color: #aaaaaa;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon img {
  width: 15px;
  height: 15px;
  filter: invert(100%);
}

/* Accounts Section */
.acc {
  display: flexbox;
  align-items: center;
  padding: 10px 15px;
  background-color: transparent;
}

.accounts {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
}

.dp img.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #1c1c1e;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.dp-ff img.dp-pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #333;
  margin: 0;
}

.account-info .name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0%;
  vertical-align: middle;
}

.account-info .username {
  font-size: 0.9rem;
  color: #aaaaaa;
  margin-bottom: 0%;
}

.dm-link {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.add-heading {
  display: block;
}

@media (max-width: 780px) {
  .offcanvas {
    width: 80%;
    max-width: 350px;
  }
}



.n-btn {
  background-color: transparent;
  border: none;
}

.n-btn:focus {
  outline: none;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icons {
  text-decoration: none;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: 35px;
}

p {
  color: #ffffff;
  margin: 0;
}

.find-friend {
  display: grid;
  grid-template-columns: 70px 1fr 20px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
}

.list-group-flush {
  display: block;
  padding-left: 0;
}

.list-group-item {
  color: #cccccc;
  background-color: #1e1f22;
  border-bottom: #5b5b62;
  font-size: 1.5rem;
}



.Nav-opt {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  border-top: 2px solid #9290C3;
  height: 60px;
  background-color: #070F2B;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
}


.req {
  display: flexbox;
  align-items: center;
  padding: 10px 15px;
  background-color: transparent;

}

.usernameS {
  padding: 2% 2% 2% 2%;
  font-size: 1rem;
  color: #aaaaaa;
  margin-bottom: 0%;
}

/*Profile page*/
.prof-banner {
  height: 60px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  justify-content: center;
  padding: 0 0;
  align-items: center;
  vertical-align: middle;
  background-color: transparent;
  border-bottom: 2px solid #9290C3;

}

.profile-portion {
  display: flexbox;
  align-items: center;
  padding: 10px 15px;
  background-color: transparent;
  height: 35%;
  width: 100%;
}

.profile-container {
  display: grid;
  grid-template-columns: 31% 30% 30%;
  align-items: center;
  gap: 5px;
  padding: 10px;
  height: 30%;
  background-color: transparent;
  justify-content: space-between;
}

.counter {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}

.counter,
h3,
h5 {
  margin: 0;
  margin-bottom: 1%;
}

.profile-img-container {
  display: flex;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  justify-content: start;
}

.profileimg {
  display: flex;
  width: 75%;
  height: 100%;
  border: none;
  border-radius: 50%;
  margin: 0;
  justify-content: start;
}

.u-name {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 0;

}

.name {
  font-size: large;
  color: #9290C3;
}

.user {
  font-size: 11px;
  color: #737293;
}

.edit-btn {
  width: 100%;
  border-radius: 25px;
  border: none;
  background-color: #535C91;
  color: #dfdefe;
  padding: 3%;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.edit-btn:hover {
  background-color: #383e60;
  cursor: pointer;
  box-shadow: 2px 1px 2px 1px rgba(255, 255, 255, 0.277);
}

.posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 5px;
}

.post {
  display: flex;
  justify-content: center;
  width: 98%;
  height: 98%;
  object-fit: contain;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.bio {
  margin-bottom: 8%;
  padding-left: 10px;
}
