body {
  background-color: #070F2B;
}

.bg {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dm-header {
  justify-content: flex-start;
  display: grid;
  grid-template-columns: 30px 50px 1fr 30px;
  height: 60px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #070F2B;
  border-bottom: 2px solid #9290C3;
  gap: 3%;
}

.uploads {
  rotate: 270deg;
}

.arrow-icon {
  justify-self: end;
  color: #fbfbfb;
}

.arrow {
  text-decoration: none;
}

.dp-pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #1c1c1e;
  display: inline-block;
  vertical-align: auto;
  justify-self: center;
}

.P-name h2 {
  margin: 0;
  font-size: 25px;
  line-height: 1;
}

.P-name {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  color: #9290C3;
}

.info-icon {
  justify-self: start;
}

.Text-container {
  display: grid;
  grid-template-columns: 8% 8% 1fr 8%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #070F2B;
  height: 60px;
  border-top: 2px solid #9290C3;
  gap: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.dm-input {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.messages {
  flex-grow: 1;
  height: 36px;
  padding: 10px 40px 10px 15px;
  border: 1px solid #1e1f22;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  background-color: #1B1A55;
  color: #fbfbfb;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.messages:focus {
  border-color: #4a4a4d;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.messages::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  color: #aaaaaa;
}

.emoji {
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji img {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.emoji-container {
  position: relative;
  left: auto;
}

.emoji-panel {
  position: absolute;
  bottom: 50px;
  left: auto;
  right: 10px;
  background-color: rgb(227, 226, 235);
  border: 1px solid #394c9f;
  border-radius: 8px;
  width: 200px;
  max-height: 200px;
  overflow-y: scroll;
  display: none;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.emoji-panel span {
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

.emoji-panel span:hover {
  background-color: #505077;
  border-radius: 4px;
}


.P-name {
  height: 50px;
}


.dm-icons {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.chats-disp-sec {
  flex: 1;
  position: fixed;
  bottom: 60px;
  left: 10px;
  right: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  gap: 8px;
}


.received-chats,
.sent-chats {
  max-width: 70%;
  display: flex;
  border-radius: 15px;
  padding: 10px 15px;
  border: none;
  width: fit-content;
  color: #eaeaea;
  text-align: start;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.4;
}

.received-chats {
  background-color: #4a4a4d;
  align-self: flex-start;
}

.sent-chats {
  background-color: #6e6ca2;
  align-self: flex-end;
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 15px 0px;
}

.s {
  justify-self: right;

}

button {
  background-color: transparent;
  border: none;
  color: white;
}