body {
  background-color: #070F2B;
  color: #9290C3;
  margin: 0;
  font-family: 'Inter',
    sans-serif;
}

h1 {
  display: inline-block;
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item {
  text-decoration: none;
  color: #9290C3;
  padding: 2%;
  font-size: 1.5rem;
  line-height: 1.6;
}

.list-item:hover {
  text-decoration: none;
  color: #535C91
}

.settings-card {
  background-color: #070F2B;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.settings-card {
  padding: 0;
}

.settings-list {
  padding: 0;
  margin-top: 0;
}

nav {
  background-color: #070F2B;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #9290C3;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
}

/*Edit Profile styles:*/
.input {
  border-radius: 0.5rem;
  margin: 2% 2%;
  background-color: #1B1A55;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2%;
}

.input:active {
  border: none;
}

.input::placeholder {
  color: #9290C3;
}

.banner {
  display: grid;
  grid-template-columns: 10% 1fr;
  justify-content: space-between;
  gap: 5px;
  vertical-align: center;
  border-bottom: 2px solid #9290C3;
}

.btc {
  display: flex;
  justify-content: center;

}

/*Sign Up*/
.heading {
  padding: 9%;
}

.container-signin {
  background-color: #1B1A55;
  padding: 30px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(146, 144, 195, 0.2);
  width: 300px;
  height: 300px;
  justify-self: center;
  align-content: center;
  text-align: center;
  margin-top: 10%;
}

/* input,
select {
  width: 100%;
  border-radius: 0.5rem;
  margin: 2% 2%;
  background-color: #1B1A55;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2%;

}

label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
}

.signin-btn {
  background-color: #535C91;
  color: white;
  padding: 2% 3%;
  font-size: 100%;
  border: none;
  border-radius: 4px;
  margin: 0;
  margin-top: 3%;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.signin:hover {
  background-color: rgb(0, 0, 0);
} */

.signup-btn {
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  justify-self: center;
  margin-top: 2%;
  gap: 10px;
  width: 300px;
}

.btn-google,
.btn-fb {
  color: #545454;
  display: grid;
  font-size: 16px;
  grid-template-columns: 20% 1fr;
  background-color: rgba(255, 255, 255, 0.907);
  height: 50px;
  padding: 4% 5%;
  box-shadow: 0 1px 2px 1px #ddd;
  width: 220px;
  border-radius: 1%;
  text-align: justify;
  justify-content: center;
}

.logo-img {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

.head {
  margin-top: 2px;
}

.f {
  margin-top: 4px;
}

.fb {
  margin-bottom: 1%;
}

.btn-google:hover {
  background-color: #f1f1f1;
}

.btn-fb:hover {
  background-color: #f1f1f1;
}