body {
  background-color: #070F2B;
  color: #9290C3;
  margin: 0;
  font-family: 'Inter',
    sans-serif;
}

h1 {
  display: inline-block;
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item {
  text-decoration: none;
  color: #9290C3;
  padding: 2%;
  font-size: 1.2rem;
  line-height: 2rem;
  border-bottom: 1px solid #9290C3;
  width: 100%;
  display: block;
}

.list-item:hover {
  text-decoration: none;
  color: #535C91
}

.settings-card {
  background-color: #070F2B;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.settings-card {
  padding: 0;
}

.settings-list {
  padding: 0;
  margin-top: 0;
}

nav {
  background-color: #070F2B;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #9290C3;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
}

/*Edit Profile styles:*/
.container {
  max-width: 100%;
  width: 100%;
  justify-content: left;
  display: block;
}

.ltg {
  text-decoration: none;
  color: white;
}

.existing-username {
  padding-left: 2%;
  color: #767575;
}

.input {
  border-radius: 0.5rem;
  margin: 2% 0 2% 0;
  background-color: #1B1A55;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2%;
  color: #9d9bc1;
  width: 100%;
}

.input:active {
  border: none;
}

.input::placeholder {
  color: #9d9bc1;
}

.banner {
  display: grid;
  grid-template-columns: 10% 1fr;
  justify-content: space-between;
  gap: 5px;
  vertical-align: center;
  border-bottom: 2px solid #9290C3;
}

.btc {
  display: flex;
  justify-content: center;

}

.edit-dp-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.edit-dp {

  border-radius: 100px;
  height: 100px;
}

/*Sign Up*/
.heading {
  padding: 9%;
}

.container-signin {
  background-color: #1B1A55;
  padding: 30px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(146, 144, 195, 0.2);
  width: 300px;
  height: 300px;
  justify-self: center;
  align-content: center;
  text-align: center;
  margin-top: 10%;
}


.signin-btn {
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  justify-self: center;
  margin-top: 2%;
  gap: 10px;
  width: 300px;
}

.btn-google,
.btn-fb {
  color: #545454;
  display: grid;
  font-size: 16px;
  grid-template-columns: 20% 1fr;
  background-color: rgba(255, 255, 255, 0.907);
  height: 50px;
  padding: 4% 5%;
  box-shadow: 0 1px 2px 1px #ddd;
  width: 220px;
  border-radius: 1%;
  text-align: justify;
  justify-content: center;
}

.logo-img {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

.head {
  margin-top: 2px;
}

.f {
  margin-top: 4px;
}

.fb {
  margin-bottom: 1%;
}

.btn-google:hover {
  background-color: #f1f1f1;
}

.btn-fb:hover {
  background-color: #f1f1f1;
}

/*Notifications page*/
.notif-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  vertical-align: center;
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 2%;
}

.notif-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #dfdefe;
  height: 40px;
  transition: background-color 0.3s;
}

.notif-btn:hover {
  background-color: rgba(83, 92, 145, 0.5);
  cursor: pointer;
  box-shadow: 2px 1px 2px 1px rgba(255, 255, 255, 0.277);
}

.notif-btn.active {
  background-color: #383e60;
}

/*initial input*/
.info-container {
  max-width: 100%;
  width: 100%;
  justify-content: center;
  display: block;
}

.position {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1%
}

.centering-along-y {
  line-height: 25px;
}

.continue-btn {
  margin-top: 5%;
}

.editP {
  border: none;
  margin: 0;
}