{% extends "base.html" %}

{% block content %}
<!--Main-body-->
<div class="search-container">
  <input class="search-bar" type="text" placeholder="Search">
  <button class="search-icon">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" aria-label="Search"
      class="x1lliihq x1n2onr6 x5n08af" fill="#9290C3" height="20" role="img" viewBox="0 0 24 24" width="20">
      <title fill="#F5F5F5">Search</title>
      <path d="M19 10.5A8.5 8.5 0 1 1 10.5 2a8.5 8.5 0 0 1 8.5 8.5Z" fill="none" stroke="#9290C3" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="2px"></path>
      <line fill="none" stroke="#9290C3" stroke-linecap="round" stroke-linejoin="round" stroke-width="2px" x1="16.511"
        x2="22" y1="16.511" y2="22">

      </line>
    </svg>
  </button>
</div>
<div class="add-link-container">
<a id="add-friend-link" class="add-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Add Friend!</a>
</div>
<!--Friend profiles-->
{% for user in users %}
<div class="acc">

  <div class="accounts">
    <div class="dp">
      <img class="pfp" src="{{url_for('static', filename='images/uploads/profile_pics/' + pfp)}}">
    </div>
    <a href="{{ url_for('DM', username=user.username) }}" class="dm-link">
      <div class="account-info">
        <p class="name">{{ user.name }}</p>
      </div>
    </a>
  </div>
</div>

</div>
{% endfor %}
{% endblock %}