{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/requests.js') }}"></script>
<div class="notif-container">
  <div class="Sent">
    <button class="notif-btn" id="sentButton">Sent</button>
  </div>
  <div class="received">
    <button class="notif-btn" id="receivedButton">Received</button>
  </div>
</div>
<div class="notif-panes">
  <div class="accounts">
    <div class="dp">
      <img class="pfp" src="static/images/pfp.jpg">
    </div>
    <a href="{{ url_for('DM') }}" class="dm-link">
      <div class="account-info">
        <p class="name">Oliver</p>
      </div>
    </a>
  </div>
</div>
</div>
{% endblock %}