<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wisper</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="static\css\chats.css">
  <link rel="stylesheet" href="static\css\settings.css">
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pfp_upload.js') }}"></script>
  <script src="{{ url_for('static', filename='js/profileInfoError.js') }}"></script>

</head>

<body>
  <nav style="padding-bottom: 2%;">
    <div class="container banner" style="display: flex;">
      <div>
        <h1>Profile Info:</h1>
      </div>
    </div>
  </nav>

  <main class="info-container">
    <form action="/addProfile" method="POST">

      <!-- Container for the Image Preview -->
      <div class="edit-dp-container">
        <img id="preview" class="edit-dp" src="{{ url_for('static', filename='images/uploads/profile_pics/pfp.jpg') }}"
          alt="Profile Picture Preview" />
      </div>
      <!--Check laterrrrrrr-->
      <div class="upload-form">
        <form id="uploadForm">
          <label for="file" class="upload-form-label"> Choose file</label>
          <input class="upload-form-btn" type="file" name="file" id="file" accept="image/*">
        </form>
      </div>
      <div class="editP-card">
        <form action="/addProfile" method="POST">
          <ul class="edit-list position" type="none">
            <div class="centering-along-y">
              <li class="list-item editP">Username:<br>
                <input type="text" class="input" name="username" id="username" placeholder="example" required>
                <small id="usernameError" class="text-danger" style="display: none;">Username is already taken.</small>
              </li>
              <li class="list-item editP">Date of Birth:<br>
                <input type="date" class="input" name="dob" placeholder="mm/dd/yyyy" required></input>
              </li>
              <li class="list-item editP">Phone number:<br>
                <input type="text" class="input" name="number" placeholder="03XX XXXXXXX" required></input>
              </li>
              <button class="edit-btn continue-btn">Continue</button>
            </div>
          </ul>
      </div>
    </form>
  </main>
</body>

</html>