{% extends "base.html" %}


{% block content %}
<div class="profile-portion">
  <div class="profile-container">

    <div class="dp profile-img-container">
      <img class="profileimg" src="static/images/uploads/profile_pics/{{ pfp }}">

    </div>


    <div class="counter">
      <h3><strong>2</strong></h3>
      <h5><strong>posts</strong></h5>
    </div>
    <div class="counter">
      <h3><strong>100</strong></h3>
      <h5><strong>friends</strong></h5>
    </div>

    <div class="u-name">
      <p class="name">{{ name }}</p>
    </div>

  </div>
  <div class="bio">
    <h6>Bio .......................</h6>
  </div>
  <div class="edit-profile">
    <button class="edit-btn">Edit Profile</button>
  </div>
</div>
<div class="posts-container">
  <div>
    <img class="post" src="static\images\pfp.jpg">
  </div>
  <div>
    <img class="post" src="static\images\pfp.jpg">
  </div>
  <div>
    <img class="post" src="static\images\pfp.jpg">
  </div>
  <div>
    <img class="post" src="static\images\pfp.jpg">
  </div>
  <div>
    <img class="post" src="static\images\pfp.jpg">
  </div>
  <div>
    <img class="post" src="static\images\pfp.jpg">
  </div>
</div>
{% endblock %}